
extends ../layout/main
block variable
  -
    var title_page = 'complex'
    var id_page = 'id-page-complex'
    var class_page = 'class-page-complex'
    var breadcrumbsSubitem = [
      {
        label: 'Комплекс',
        link: pagesLink[0].complex
      }
    ];
    var sticky1 = [{title: "Особливості",
      description: "Кожна деталь, у «Forest Home» дарує комфорт та створює затишок, ніби безліч яскравих кольорів, які складаються у барвисту веселку."},


      {title: "ЛОКАЦІЯ",
      description: "Житловий комплекс «Forest Home» — місце, яке стане новим обличчям мікрорайону. Архітектори врахували всі побажання майбутніх мешканців, тому розробили унікальний дизайн для 8 та 10 поверхових будівель."},



      {title: "Переваги",
      description: "У ЖК «Forest Home» Ви зможете дихати свіжим повітрям, а також насолоджуватися усім перевагами міського життя."},



      {title: "МІСЦЕЗНАХОДЖЕННЯ",
      description: "Житловий комплекс стане справжнім порятунком від міської метушні та галасливих автомагістралей."},



      {title: "СУЧАСНЕ РОЗУМНЕ ПЛАНУВАННЯ",
      description: "У кожного мешканця є чудова можливість стати архітектором і самостійно спланувати своє житло."},



      {title: "ВЕЛИЧЕЗНИЙ ПАРКІНГ",
      description: "Зона для автомобілів представлена підземними паркомісцями та сучасно обладнаними гаражами на першому поверсі у кожній секції."},



      {title: "ДИЗАЙН",
      description: "Архітектори врахували всі побажання майбутніх мешканців, тому винайшли унікальний дизайн для 10 та 8 поверхових будівель."},



      {title: "Архітектура",
      description: "Нестандартна архітектура та модерні фасадні рішення привертають увагумайбутніх мешканців."},



      {
      description: "При плануванні архітектори вирішили додати новобудові нестандартної форми виконані в світлих теплих кольорах, що символізують весну та все зелене. Тобто у кожного будинку — окремий задум."},



      {title: "Розташування",
      description: "Житловий комплекс розкинувся в мальовничому місці м. Вінниця подалі від галасливих доріг і метушні."},



      {
      description: "Мешканці комплексу можуть з легкістю прогулятися в спеціально обладнаній парковій зоні для відпочинку. Для дітей на території є ціла низка розваг – від звичайних турніків до сучасних тренажерів. Спеціальні майданчики та велосипедні доріжки також передбачені архітекторами."},



      {title: "Інфраструктура",
      description: "Тільки-но уявіть: все, що треба для життя –поруч з вами, не треба далеко від’їжджати."},



      {
      description: "Житловий комплекс «Forest Home» — той випадок, коли архітектори передбачили всі побажання і зуміли виконати їх. Так на території комплексу облаштовані сучасні дитячі та спортивні майданчики, а також зручні озеленені, квітучі зони відпочинку для всієї родини. Поряд з комплексом розташовані дитячі садочки, школи, паркова зона, торговий центр і ринок «Пасаж». "},]




block meta
  title= title_page
  meta(name='description' content='')
block head
  link(rel='stylesheet' href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/footer.js')
  //- script(defer src='./assets/scripts/complex.js')
  //- script(defer src='./assets/scripts/animation.js')
block content
  .sticky-block
    .sticky-block__content
      .sticky-block__title
        include ../includes/breadcrumbs.pug
        div.text-style-1920-h-2(data-split-lines-and-fade-up) Комплекс
        <svg class="sticky-block__decor" width="567" height="722" viewBox="0 0 567 722" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g opacity="0.1" clip-path="url(#clip0_6519_3900)">
          <path d="M478.959 431.88L533.521 491.553C534.239 492.305 535.131 492.871 536.118 493.2C537.105 493.529 538.157 493.612 539.184 493.442C540.21 493.272 541.179 492.854 542.007 492.224C542.835 491.594 543.497 490.772 543.935 489.828C551.604 469.595 557.399 448.7 561.249 427.408C561.464 426.333 561.431 425.224 561.153 424.164C560.875 423.103 560.359 422.121 559.645 421.289C558.931 420.458 558.037 419.801 557.03 419.366C556.024 418.932 554.933 418.732 553.838 418.783L483.559 421.913C482.458 422.029 481.407 422.429 480.507 423.073C479.607 423.718 478.891 424.585 478.427 425.59C477.963 426.594 477.768 427.702 477.862 428.805C477.955 429.908 478.333 430.967 478.959 431.88Z" fill="#404F44"/>
          <path d="M240.587 439.547L254.77 712.294C254.82 713.317 255.085 714.318 255.549 715.232C256.012 716.146 256.663 716.952 257.459 717.597C258.255 718.242 259.178 718.712 260.168 718.977C261.158 719.241 262.192 719.293 263.204 719.13C320.137 709.834 374.028 687.075 420.391 652.747C466.753 618.42 504.247 573.516 529.753 521.773C531.413 518.374 531.973 514.541 531.355 510.808C530.736 507.076 528.971 503.628 526.303 500.945L454.491 428.877C452.702 427.074 450.556 425.665 448.19 424.741C445.824 423.817 443.292 423.398 440.754 423.51L247.295 431.944C245.408 432.091 243.653 432.967 242.401 434.386C241.148 435.805 240.498 437.656 240.587 439.547Z" fill="#404F44"/>
          <path d="M-115.789 529.568C-88.3252 582.044 -48.413 626.986 0.451538 660.457C49.316 693.929 105.642 714.908 164.497 721.558C165.521 721.666 166.556 721.556 167.535 721.235C168.514 720.914 169.413 720.389 170.174 719.694C170.935 719 171.54 718.152 171.949 717.207C172.358 716.262 172.561 715.24 172.547 714.21C171.333 637.542 174.974 509.251 175.677 487.145C175.696 486.104 175.495 485.072 175.087 484.114C174.68 483.156 174.076 482.295 173.313 481.587L87.0617 401.788C86.0081 400.823 84.7 400.18 83.2922 399.935L30.1995 391.438C29.1286 391.279 28.0359 391.357 26.9984 391.666C25.9608 391.975 25.0035 392.508 24.1939 393.226C9.9464 406.005 -60.9077 469.895 -114.384 521.007C-115.514 522.089 -116.262 523.509 -116.516 525.053C-116.769 526.597 -116.514 528.181 -115.789 529.568Z" fill="#404F44"/>
          <path d="M253.428 388.818L558.375 398.018C560.187 398.078 561.955 397.454 563.328 396.27C564.701 395.087 565.579 393.43 565.786 391.629C566.617 381.917 567 372.015 567 362.112C566.969 333.289 563.516 304.572 556.714 276.563C556.416 275.393 555.835 274.315 555.021 273.424C554.208 272.532 553.187 271.855 552.05 271.452L369.324 207.114C367.805 206.586 366.154 206.575 364.629 207.084C363.103 207.592 361.789 208.592 360.891 209.925L247.614 377.509C246.897 378.588 246.481 379.84 246.409 381.133C246.337 382.427 246.611 383.716 247.203 384.869C247.796 386.021 248.685 386.995 249.779 387.689C250.873 388.383 252.133 388.773 253.428 388.818Z" fill="#404F44"/>
          <path d="M402.867 169.867L524.769 221.49C526.111 222.044 527.588 222.185 529.01 221.894C530.433 221.603 531.736 220.894 532.752 219.857C533.768 218.82 534.451 217.503 534.714 216.075C534.976 214.647 534.806 213.173 534.225 211.842C514.14 167.837 485.417 128.316 449.762 95.6264C448.982 94.8997 448.051 94.3546 447.035 94.0304C446.02 93.7063 444.945 93.611 443.888 93.7515C442.832 93.892 441.819 94.2647 440.924 94.843C440.028 95.4212 439.272 96.1906 438.709 97.0959L399.353 159.644C398.849 160.534 398.541 161.52 398.447 162.537C398.353 163.554 398.476 164.58 398.809 165.546C399.141 166.513 399.674 167.397 400.374 168.142C401.073 168.887 401.923 169.475 402.867 169.867Z" fill="#404F44"/>
          <path d="M199.887 84.3178C196.688 88.7934 195.359 94.3396 196.182 99.7792L224.868 291.769C225.085 293.154 225.7 294.446 226.638 295.487C227.576 296.528 228.797 297.274 230.152 297.633C231.507 297.992 232.937 297.949 234.268 297.509C235.599 297.069 236.773 296.251 237.646 295.155L411.491 73.776C412.096 72.9854 412.534 72.0812 412.781 71.1174C413.029 70.1536 413.079 69.1498 412.93 68.166C412.781 67.1823 412.435 66.2386 411.914 65.3913C411.392 64.5439 410.705 63.8103 409.894 63.2341C367.933 34.4431 320.36 14.8476 270.294 5.73302C266.311 5.02202 262.207 5.46878 258.47 7.02026C254.733 8.57174 251.519 11.1628 249.211 14.486L199.887 84.3178Z" fill="#404F44"/>
          <path d="M182.571 8.41644L189.918 57.6118C190.018 58.3102 190.322 58.9636 190.792 59.4897C191.262 60.0159 191.877 60.3913 192.56 60.5688C193.243 60.7464 193.963 60.7181 194.63 60.4875C195.296 60.2569 195.88 59.8344 196.307 59.2729L236.622 6.6914C237.013 6.18501 237.262 5.58286 237.342 4.94775C237.421 4.31263 237.329 3.66779 237.074 3.08047C236.82 2.49316 236.412 1.98487 235.895 1.60862C235.377 1.23236 234.767 1.00191 234.13 0.941283C224.504 0.174602 214.793 -0.20874 204.996 -0.20874C199.757 -0.20874 194.582 -0.208745 189.407 0.110705C188.396 0.162647 187.408 0.424708 186.504 0.880158C185.6 1.33561 184.801 1.97447 184.157 2.75596C183.514 3.53745 183.041 4.44442 182.768 5.41903C182.495 6.39364 182.428 7.41448 182.571 8.41644Z" fill="#404F44"/>
          <path d="M-33.1843 105.082L156.442 133.002C157.519 133.158 158.617 133.07 159.656 132.745C160.695 132.42 161.648 131.866 162.445 131.125C163.242 130.383 163.862 129.472 164.26 128.459C164.659 127.447 164.825 126.357 164.747 125.271L156.122 10.6526C156.021 9.67727 155.723 8.73271 155.245 7.87652C154.767 7.02034 154.12 6.27048 153.343 5.67265C152.565 5.07482 151.675 4.64156 150.725 4.3993C149.774 4.15705 148.785 4.11086 147.816 4.26357C79.0253 15.2 14.873 45.8227 -36.8899 92.4319C-37.925 93.3482 -38.6779 94.5401 -39.0608 95.8684C-39.4436 97.1967 -39.4406 98.6065 -39.052 99.9331C-38.6634 101.26 -37.9053 102.448 -36.8662 103.36C-35.8272 104.272 -34.5501 104.869 -33.1843 105.082Z" fill="#404F44"/>
          <path d="M-107.744 192.356L164.236 391.821C165.317 392.606 166.594 393.079 167.926 393.188C169.258 393.296 170.595 393.036 171.789 392.436C172.983 391.835 173.989 390.918 174.696 389.784C175.404 388.65 175.786 387.343 175.8 386.007V179.961C175.808 178.352 175.277 176.787 174.293 175.513C173.309 174.24 171.928 173.332 170.369 172.933L-54.9709 115.432C-56.2436 115.12 -57.5763 115.15 -58.8334 115.521C-60.0904 115.891 -61.2268 116.588 -62.1266 117.541C-80.4297 137.566 -96.4376 159.575 -109.853 183.156C-110.651 184.69 -110.877 186.458 -110.49 188.144C-110.104 189.829 -109.131 191.322 -107.744 192.356Z" fill="#404F44"/>
          <path d="M-148.376 325.823L32.1135 357.193C33.6925 357.46 35.3158 357.2 36.7319 356.452C38.1481 355.704 39.2783 354.51 39.9476 353.055C40.6169 351.6 40.7879 349.965 40.4343 348.403C40.0807 346.841 39.2221 345.439 37.9914 344.414L-116.048 215.484C-116.911 214.754 -117.933 214.236 -119.033 213.973C-120.133 213.71 -121.279 213.708 -122.38 213.97C-123.48 214.231 -124.504 214.747 -125.368 215.476C-126.232 216.205 -126.913 217.127 -127.356 218.168C-141.125 249.935 -150.228 283.527 -154.382 317.9C-154.57 319.736 -154.055 321.575 -152.941 323.045C-151.826 324.516 -150.194 325.508 -148.376 325.823Z" fill="#404F44"/>
          </g>
          <defs>
          <clipPath id="clip0_6519_3900">
          <rect width="567" height="722" fill="white"/>
          </clipPath>
          </defs>
        </svg>

      .sticky-block__right.text-style-1920-h-2 
        each val, i in sticky1
          - 
            var imgUrl = './assets/images/complex/'+(i)+'.jpg'
          .sticky1-card
            .sticky1-card__img-wrap
              .sticky1-card__img
                img(src=imgUrl, alt=''  loading="lazy")
            .sticky1-card__content
              span.sticky1-card__title #{val.title}
              span.sticky1-card__description #{val.description}
              if i < 9
                span.sticky1-card__digit 0#{i+1}
              else 
                span.sticky1-card__digit #{i+1}
block footer
  include ../includes/footer.pug
block header
  include ../includes/header.pug
